
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Raporları Sayfası</h1>
<a href="/Excel/StaticExcelReport" class="btn btn-outline-primary">Dinamik Excel Raporu</a>
<br />
<br />
<br />
<a href="/Excel/DestinationExcelReport" class="btn btn-outline-secondary">Tur Rotalar Excel Raporu</a>

